@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: filter 5s;
}

.bg-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.night-mode {
  filter: brightness(0.5) sepia(0.3);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  color: white;
  font-family: "Comfortaa";
  font-weight: 700;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h1 {
  word-wrap: break-word;
  transition-duration: font-size 0.2s;
  letter-spacing: -0.7vmin;
  text-align: center;
  text-transform: capitalize;
  font-size: 11vmin;
  margin: -6vmin 0 6vmin 0;
  color: rgba(255, 255, 255, 0.8235294118);
  text-shadow: 0.1rem 0.1rem 3rem rgba(35, 6, 116, 0.6352941176);
}

.first-pair {
  display: flex;
  margin-bottom: 5vmin;
}

.second-pair {
  display: flex;
  margin-bottom: 5vmin;
}

.notZeros {
  width: 43vmin;
}

.counter_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.counter_container p {
  position: relative;
  z-index: 1;
  font-family: "Dosis";
  font-size: 23vmin;
  margin: 0 7vmin;
  line-height: 1;
  text-shadow: 0.2rem 0.2rem 3rem #230674;
  transition-duration: 0.5s;
}
.counter_container span {
  font-size: 1.5vmax;
  color: rgba(195, 198, 230, 0.6705882353);
}
.counter_container div {
  text-align: center;
}

.fog img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  opacity: 0;
  filter: blur(4px);
}

.fog img:nth-child(1) {
  -webkit-animation: anim 25s linear infinite alternate;
          animation: anim 25s linear infinite alternate;
}

.fog img:nth-child(2) {
  filter: blur(6px);
  animation: anim 35s linear infinite alternate-reverse 15s;
}

.fog img:nth-child(3) {
  -webkit-animation: anim 25s linear infinite alternate 5s;
          animation: anim 25s linear infinite alternate 5s;
}

@-webkit-keyframes anim {
  0% {
    opacity: 0;
    transform: translateX(-20%) scale(0.5);
  }
  50% {
    opacity: 0.15;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: translateX(20%) scale(3.5);
  }
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translateX(-20%) scale(0.5);
  }
  50% {
    opacity: 0.15;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: translateX(20%) scale(3.5);
  }
}
.date_number {
  position: absolute;
  bottom: 3vmin;
  font-size: 4vmin;
  color: rgba(195, 198, 230, 0.3215686275);
}

.menu_container {
  display: flex;
  position: absolute;
  z-index: 2;
  flex-direction: column-reverse;
  bottom: 4vh;
  right: 2.5vw;
  align-items: flex-end;
  flex: 0 1 33.3333%;
}

.cont {
  display: flex;
  border-radius: size;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 2.5rem;
  margin-top: 2vh;
  transition: box-shadow 0.15s;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1568627451);
}
.cont.error {
  box-shadow: 0 0 2rem rgba(253, 0, 0, 0.8235294118), inset 0 0 5px rgba(248, 104, 104, 0.937254902);
}

.btn {
  position: relative;
  z-index: 3;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: transparent;
  color: #6427aa;
  transition-duration: 0.5s;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.7rem;
}
.btn :hover {
  font-size: 1.7rem;
}
.btn.rotation {
  transform: rotate(-360deg);
  color: rgba(136, 39, 155, 0.9333333333);
}
.btn.forFirefox.error {
  color: #f14242;
  text-shadow: 0 0 2rem rgba(175, 15, 15, 0.8235294118);
}

.bg-container {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  top: 4vh;
  right: 2.5vw;
}

.bg_cont {
  position: relative;
  margin-top: 0;
  width: 0;
  justify-content: flex-end;
  transition-duration: 0.3s;
}
.bg_cont.active {
  width: 19rem;
}

.bg_img_btn {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 40%;
  border: 1px solid #000;
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.5568627451);
  transition-duration: 0.3s;
  right: 0;
  top: 0.5rem;
  opacity: 0;
}
.bg_img_btn.active {
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 1;
}
.bg_img_btn:hover {
  z-index: 4;
  width: 7rem;
  height: 6rem;
  transform: translateX(2.25rem);
  border-radius: 20%;
}

.bg_1 {
  background: url("../img/sm_bg_1.jpg") center center/cover no-repeat;
}
.bg_1.selected {
  box-shadow: 0px 0px 10px #ff01dd;
  border: 2px solid rgba(179, 10, 156, 0.7254901961);
}
.bg_1:hover {
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.5568627451);
  border: 1px solid #000;
}
.bg_1.active {
  right: 15.1rem;
}

.bg_2 {
  background: url("../img/sm_bg_2.jpg") center center/cover no-repeat;
}
.bg_2.selected {
  box-shadow: 0px 0px 10px #05772b;
  border: 2px solid #05441a;
}
.bg_2:hover {
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.5568627451);
  border: 1px solid #000;
}
.bg_2.active {
  right: 10.6rem;
}

.bg_3 {
  background: url("../img/sm_bg_3.jpg") center center/cover no-repeat;
}
.bg_3.selected {
  box-shadow: 0px 0px 10px #ff5e00;
  border: 2px solid rgba(117, 47, 7, 0.7882352941);
}
.bg_3:hover {
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.5568627451);
  border: 1px solid #000;
}
.bg_3.active {
  right: 6.1rem;
}

.bg_4 {
  background: url("../img/sm_bg_4.jpg") center center/cover no-repeat;
}
.bg_4.selected {
  box-shadow: 0px 0px 10px #520faa;
  border: 2px solid #520faa;
}
.bg_4:hover {
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.5568627451);
  border: 1px solid #000;
}
.bg_4.active {
  right: 1.6rem;
}

.date_input_btn span {
  margin-left: 0.43rem;
  display: inline-block;
  white-space: nowrap;
  height: 2.5rem;
  width: 2.07rem;
}

.date_input_btn span i:nth-child(2) {
  position: relative;
  right: 1.2rem;
  bottom: -0.1rem;
  margin-right: -0.1rem;
  margin-bottom: -10.26rem;
  font-size: 1rem;
  border: 1.5px solid white;
  background-color: white;
  border-radius: 50%;
}

.input_cl {
  font-size: 1.1rem;
  width: 0;
  height: 2rem;
  transition-duration: 0.3s;
  line-height: 2.5rem;
  color: #585858;
  margin-top: 0.3rem;
}

.clear {
  display: none;
  position: relative;
  z-index: 1;
  top: 0.45rem;
  margin: 0.2rem 0 0 0.6rem;
  transition: font-size 0.2s;
  font-size: 1.2rem;
  width: 1rem;
  height: 1rem;
  color: #6427aa;
}
.clear :hover {
  font-size: 1.3rem;
  color: #8d0539;
}
.clear :active {
  font-size: 1.25rem;
  color: #385ab9;
}
.clear.active {
  display: inline-block;
}

.icon {
  position: relative;
  z-index: 0;
  height: 0rem;
  width: 0rem;
  align-content: center;
  color: #6427aa;
  font-size: 1.55rem;
  transition-duration: 0.15s;
  pointer-events: none;
}
.icon i {
  line-height: 2.45rem;
}
.icon.error {
  color: #f14242;
  text-shadow: 0px 0px 5px rgba(175, 15, 15, 0.8235294118);
}
.icon.hover {
  color: rgba(155, 39, 39, 0.9333333333);
}

::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  position: relative;
  z-index: 3;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-bottom: 0.2rem;
  height: 2rem;
  width: 2rem;
  opacity: 0;
}

::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

::-webkit-datetime-edit-text {
  color: black;
}

.text_container .input_area {
  position: relative;
}
.text_container .input_area.active {
  width: 16rem;
  margin-left: 0.5rem;
  margin-right: 3rem;
}

.date_input_area {
  position: relative;
  cursor: pointer;
}
.date_input_area input {
  z-index: 3;
}
.date_input_area.active {
  transition-duration: 0.25s;
  width: 8.7rem;
  margin-left: 0.24rem;
}
.date_input_area.active.forFirefox {
  width: 7.9rem;
}

.calen-zone {
  position: relative;
  display: flex;
  width: 0;
  transition-duration: 0.25s;
  opacity: 0;
}
.calen-zone.active {
  width: 13rem;
  opacity: 1;
  margin-right: 1rem;
}
.calen-zone.active.forFirefox {
  width: 10rem;
  margin-right: 2rem;
}

.calen-icon {
  font-size: 1.65rem;
  margin-left: -1.85rem;
  margin-right: 1.4rem;
  margin-top: 0.1rem;
}
.calen-icon i {
  line-height: 2rem;
}
.calen-icon.forFirefox {
  display: none;
}

.time-zone {
  position: relative;
  display: flex;
  width: 0;
  opacity: 0;
  position: relative;
  align-content: center;
  justify-content: flex-end;
  transition-duration: 0.25s;
}
.time-zone.active {
  margin-right: 3rem;
  margin-left: 2.7rem;
  width: 3.3rem;
  opacity: 1;
}
.time-zone.active.forFirefox {
  margin-right: 1.2rem;
  margin-left: 2.7rem;
  width: 4.8rem;
}

.timer-icon {
  margin-left: -1.85rem;
}
.timer-icon.forFirefox {
  margin-left: -1.55rem;
  margin-right: 1.4rem;
  color: rgba(100, 39, 170, 0.7607843137);
}

.time-cont {
  position: relative;
  margin-left: 0.5rem;
}
.time-cont input {
  z-index: 3;
  cursor: pointer;
  width: 0;
  background-color: #fff;
  transition-duration: 0.25s;
}
.time-cont input.active {
  width: 5.8rem;
}

.notif {
  position: absolute;
  color: #a7a6a6;
  font-size: 0.7rem;
  transition: 0.5s;
  transform: translateX(-0.7rem);
  opacity: 0;
}
.notif.active {
  opacity: 1;
  transform: translateX(0rem);
}

.date_notif {
  left: 2.05rem;
  bottom: -0.15rem;
}

.time_notif {
  left: -0.45rem;
  bottom: -0.15rem;
}

.error-notif {
  width: 6rem;
  color: #e05454;
}

.confirm_btn {
  position: absolute;
  z-index: -1;
  right: -0.2rem;
  margin: 0.5rem 1.5rem 0 0;
  width: 1rem;
  height: 1rem;
  transition: 0.2s;
  font-size: 1.2rem;
  color: #6427aa;
}
.confirm_btn :hover {
  font-size: 1.6rem;
  text-shadow: 1px 1px 5px rgba(205, 181, 233, 0.5019607843);
}
.confirm_btn :active {
  font-size: 1.5rem;
  color: #385ab9;
}
.confirm_btn.active {
  z-index: 0;
  transform: translateX(-3rem);
  font-size: 1.5rem;
}

.reload_container {
  position: relative;
  flex-direction: column;
  align-items: center;
}

.reset_text {
  position: absolute;
  z-index: -1;
  top: 3.2rem;
  color: rgba(100, 39, 170, 0.4235294118);
  font-size: 0.2rem;
  margin: 0.5rem -1rem;
  transition-duration: 0.2s;
  transform: translateY(-2.5rem);
}
.reset_text.active {
  z-index: 1;
  cursor: auto;
  transform: translateY(0);
  font-size: 0.7rem;
}

.ok_btn {
  position: relative;
  z-index: -2;
  width: 2.5rem;
  height: 0;
  text-align: center;
  font-size: 0.2rem;
  line-height: 2.1rem;
  color: #6427aa;
  border-radius: 50%;
  background-color: transparent;
  transition-duration: 0.2s;
  cursor: auto;
}
.ok_btn :hover {
  font-size: 1.8rem;
}
.ok_btn :active {
  font-size: 1.7rem;
  color: #385ab9;
}
.ok_btn.active {
  z-index: 0;
  height: 2.5rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.ok_btn i {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.confetti_container {
  display: none;
}
.confetti_container.active {
  display: block;
}

.confetti_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  text-shadow: 0 0 2rem rgba(253, 0, 0, 0.8235294118);
  filter: drop-shadow(0.5px 0.5px 3px rgba(95, 95, 95, 0.3647058824));
}

.confetti_container img:nth-child(1) {
  -webkit-animation: confetti_1 5s linear infinite 0.2s;
          animation: confetti_1 5s linear infinite 0.2s;
}

.confetti_container img:nth-child(2) {
  left: -40vw;
  -webkit-animation: confetti_1 6s linear infinite 1.2s;
          animation: confetti_1 6s linear infinite 1.2s;
}

.confetti_container img:nth-child(3) {
  left: 40vw;
  -webkit-animation: confetti_1 5s linear infinite 3.2s;
          animation: confetti_1 5s linear infinite 3.2s;
}

.confetti_container img:nth-child(4) {
  left: -50%;
  top: -20%;
  filter: drop-shadow(3px 2px 2px rgba(95, 95, 95, 0.3647058824));
  -webkit-animation: confetti_2 0.8s linear;
          animation: confetti_2 0.8s linear;
}

.confetti_container img:nth-child(5) {
  left: 50%;
  top: -20%;
  -webkit-animation: confetti_3 0.7s linear 0.3s;
          animation: confetti_3 0.7s linear 0.3s;
}

.confetti_container img:nth-child(6) {
  opacity: 1;
  left: -50vh;
  top: -25vh;
  -webkit-animation: flag_1 0.6s forwards;
          animation: flag_1 0.6s forwards;
}

.confetti_container img:nth-child(7) {
  z-index: -1;
  opacity: 1;
  left: 15vh;
  top: -50vh;
  -webkit-animation: flag_2 1s forwards;
          animation: flag_2 1s forwards;
}

@-webkit-keyframes confetti_1 {
  0% {
    transform: scale(0.7) translateY(-100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.4) translateY(70%);
  }
}

@keyframes confetti_1 {
  0% {
    transform: scale(0.7) translateY(-100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.4) translateY(70%);
  }
}
@-webkit-keyframes confetti_2 {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.4) translateX(20%) translateY(25%) rotate(30deg);
  }
}
@keyframes confetti_2 {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.4) translateX(20%) translateY(25%) rotate(30deg);
  }
}
@-webkit-keyframes confetti_3 {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.4) translateX(-25%) translateY(30%) rotate(-20deg);
  }
}
@keyframes confetti_3 {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.4) translateX(-25%) translateY(30%) rotate(-20deg);
  }
}
@-webkit-keyframes flag_1 {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: translateY(10vh) translateX(10vh) rotate(-10deg) scale(0.7);
  }
}
@keyframes flag_1 {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: translateY(10vh) translateX(10vh) rotate(-10deg) scale(0.7);
  }
}
@-webkit-keyframes flag_2 {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: translateY(25vh) translateX(45vh) rotate(25deg) scale(0.6);
  }
}
@keyframes flag_2 {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: translateY(25vh) translateX(45vh) rotate(25deg) scale(0.6);
  }
}
@media (max-height: 260px) {
  .counter_container p {
    font-size: 90px;
    margin: 0 3vw;
  }
  .counter_container span {
    display: none;
  }
  .menu_container {
    display: none;
  }
  .date_number {
    display: none;
  }
  h1 {
    display: none;
  }
  .second-pair :nth-child(2) {
    width: 120px;
  }
}
@media (max-width: 1200px) {
  .confetti_container img:nth-child(6) {
    left: -35vh;
    top: -16vh;
  }
  .confetti_container img:nth-child(7) {
    left: 10vh;
    top: -25vh;
  }
}
@media (max-width: 809px) {
  .counter_container {
    flex-direction: column;
  }
  .confetti_container img:nth-child(6) {
    left: -27vh;
    top: -12vh;
  }
  .confetti_container img:nth-child(7) {
    left: -10vh;
    top: -27vh;
  }
}
@media (max-width: 425px) {
  .confetti_container img:nth-child(6) {
    left: -20vh;
    top: -11vh;
  }
  .confetti_container img:nth-child(7) {
    left: -30vh;
    top: -25vh;
  }
}
@media (max-width: 374px) {
  .menu_container {
    display: none;
  }
}