@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.bg-image {
  background: url("../img/bg.jpg") center center/cover no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.night-mode {
  filter: brightness(0.5);
}

.night-mode-body {
  filter: brightness(0.8);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  color: white;
  font-family: "Comfortaa";
  font-weight: 700;
}

h1 {
  letter-spacing: -0.7vmin;
  text-align: center;
  text-transform: capitalize;
  font-size: 11vmin;
  margin: -6vmin 0 6vmin 0;
  color: rgba(255, 255, 255, 0.8235294118);
  text-shadow: 0.1rem 0.1rem 3rem rgba(35, 6, 116, 0.6352941176);
}

.first-pair {
  display: flex;
  margin-bottom: 5vmin;
}

.second-pair {
  display: flex;
  margin-bottom: 5vmin;
}

.second-pair :nth-child(2) {
  width: 45vmin;
}

.counter_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.counter_container p {
  position: relative;
  z-index: 1;
  font-family: "Dosis";
  font-size: 27vmin;
  margin: 0 8vmin;
  line-height: 1;
  text-shadow: 0.2rem 0.2rem 3rem #230674;
  transition-duration: 0.5s;
}
.counter_container span {
  font-size: 1.5vmax;
  color: rgba(195, 198, 230, 0.6705882353);
}
.counter_container div {
  text-align: center;
}

.fog img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  filter: blur(6px);
  transform: scale(2);
}

.fog img:nth-child(1) {
  -webkit-animation: anim 15s linear infinite alternate;
          animation: anim 15s linear infinite alternate;
}

.fog img:nth-child(2) {
  animation: anim-easy 20s linear infinite alternate-reverse 15s;
}

.fog img:nth-child(3) {
  -webkit-animation: anim 15s linear infinite alternate 5s;
          animation: anim 15s linear infinite alternate 5s;
}

.fog img:nth-child(4) {
  bottom: 20vh;
  animation: anim-easy 20s linear infinite alternate-reverse;
}

.fog img:nth-child(5) {
  -webkit-animation: anim-easy 15s linear infinite alternate 20s;
          animation: anim-easy 15s linear infinite alternate 20s;
}

@-webkit-keyframes anim {
  0% {
    opacity: 0;
    transform: translate(-30vw 0);
    transform: scale(2);
  }
  50% {
    opacity: 0.25;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: translate(30vw 0);
    transform: scale(4);
  }
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translate(-30vw 0);
    transform: scale(2);
  }
  50% {
    opacity: 0.25;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: translate(30vw 0);
    transform: scale(4);
  }
}
@-webkit-keyframes anim-easy {
  0% {
    opacity: 0;
    transform: translate(-70vw 0);
    transform: scale(1);
  }
  50% {
    opacity: 0.1;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: translate(70vw 0);
    transform: scale(3);
  }
}
@keyframes anim-easy {
  0% {
    opacity: 0;
    transform: translate(-70vw 0);
    transform: scale(1);
  }
  50% {
    opacity: 0.1;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: translate(70vw 0);
    transform: scale(3);
  }
}
.date_number {
  position: absolute;
  bottom: 3vmin;
  font-size: 4vmin;
  color: rgba(195, 198, 230, 0.3215686275);
}

.menu_container {
  display: flex;
  z-index: 2;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 4vh;
  right: 2.5vw;
  align-items: flex-end;
}

.cont {
  display: flex;
  border-radius: size;
  padding: 1.2vh;
  background-color: #fff;
  border-radius: 2.5rem;
}

.btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  color: #6427aa;
  transition-duration: 0.5s;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.7rem;
}
.btn :hover {
  font-size: 1.7rem;
}
.btn.rotation {
  transform: rotate(-360deg);
  color: rgba(136, 39, 155, 0.9333333333);
}

.input_cl {
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  font-size: 1.1rem;
  font-style: italic;
  width: 0;
  transition-duration: 0.3s;
  line-height: 2.5rem;
}

.clear {
  display: none;
  margin: 0.4rem 0 0 0.6rem;
  transition-duration: 0.2s;
  font-size: 1.2rem;
  width: 1rem;
  height: 1rem;
  rotate: 7deg;
  color: #6427aa;
}
.clear :hover {
  font-size: 1.3rem;
  rotate: 15deg;
}
.clear :active {
  font-size: 1.2rem;
  color: #385ab9;
}
.clear.active {
  display: inline-block;
}

.text_container {
  margin-top: 3vh;
}
.text_container .input_area {
  max-width: 0;
}
.text_container .input_area.active {
  width: 28vw;
  max-width: 20rem;
  padding-left: 1rem;
}

.date_container .date_input_area :-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
.date_container .date_input_area :-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}
.date_container .date_input_area.active {
  width: 10rem;
  padding-left: 2vh;
}
.date_container .confirm_btn {
  display: none;
  margin: 0.5rem 0.8rem 0 0.6rem;
  width: 1rem;
  height: 1rem;
  transition-duration: 0.2s;
  font-size: 1.5rem;
  color: #6427aa;
}
.date_container .confirm_btn :hover {
  font-size: 1.6rem;
  text-shadow: 1px 1px 5px rgba(205, 181, 233, 0.5019607843);
}
.date_container .confirm_btn :active {
  font-size: 1.5rem;
  color: #385ab9;
}
.date_container .confirm_btn.active {
  display: inline-block;
}

@media (max-height: 260px) {
  .counter_container p {
    font-size: 90px;
    margin: 0 3vw;
  }
  .counter_container span {
    display: none;
  }
  .menu_container {
    display: none;
  }
  .date_number {
    display: none;
  }
  h1 {
    display: none;
  }
  .second-pair :nth-child(2) {
    width: 120px;
  }
}
@media (max-width: 810px) {
  .counter_container {
    flex-direction: column;
  }
}
@media (max-width: 371px) {
  .menu_container {
    display: none;
  }
}