@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap')

@import "./_stylereset"

.bg-image
    background: url('../img/bg.jpg') center center / cover no-repeat
    position: absolute
    z-index: -1
    top: 0
    left: 0
    height: 100%
    width: 100%
    transition: filter 5s

.night-mode
    -webkit-filter: brightness(0.5) sepia(0.3)
    filter: brightness(0.5) sepia(0.3)

body
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    min-height: 100vh
    overflow: hidden
    color: white
    font-family: 'Comfortaa'
    font-weight: 700
    // Selection ban
    -webkit-touch-callout: none // iOS Safari 
    -webkit-user-select: none   // Chrome/Safari/Opera
    -khtml-user-select: none    // Konqueror
    -moz-user-select: none     // Firefox
    -ms-user-select: none      // Internet Explorer/Edge

h1
    transition-duration: font-size 0.2s
    letter-spacing: -0.7vmin
    text-align: center
    text-transform: capitalize
    font-size: 11vmin
    margin: -6vmin 0  6vmin 0
    color: #ffffffd2
    text-shadow: 0.1rem 0.1rem 3rem #230674a2

.first-pair
    display: flex
    margin-bottom: 5vmin
    // justify-content: space-between
    // border: 2px solid white
.second-pair
    display: flex
    margin-bottom: 5vmin
    justify-content: space-between
    // border: 2px solid black
.second-pair :nth-child(2) 
    width: 42vmin
    // border: 2px solid #000

.counter_container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    justify-content: center
    p
        position: relative
        z-index: 1
        font-family: 'Dosis'
        font-size: 22vmin
        margin: 0 8vmin
        line-height: 1
        text-shadow: 0.2rem 0.2rem 3rem #230674
        transition-duration: 0.5s
    span
        font-size: 1.5vmax
        color: #c3c6e6ab
    div
        text-align: center

.fog img
    position: absolute
    z-index: 1
    bottom: 0
    left: 0
    height: 40%
    width: 100%
    opacity: 0
    -webkit-filter: blur(4px)
    filter: blur(4px)

.fog img:nth-child(1)
    animation: anim 25s linear infinite alternate
.fog img:nth-child(2)
    -webkit-filter: blur(6px)
    filter: blur(6px)
    animation: anim 35s linear infinite alternate-reverse 15s
.fog img:nth-child(3)
    animation: anim 25s linear infinite alternate 5s

@keyframes anim
    0% 
        opacity: 0
        transform: translateX(-20%) scale(0.5)
    50%
        opacity: 0.15
        transform: scale(2)
    100%
        opacity: 0
        transform: translateX(20%) scale(3.5)


.date_number
    position: absolute
    bottom: 3vmin
    font-size: 4vmin
    color: #c3c6e652


$size : 2.5rem
$bottom : 4vh
$right : 2.5vw

.menu_container
    display: flex
    z-index: 2
    flex-direction: column-reverse
    position: absolute
    bottom: $bottom
    right: $right
    align-items: flex-end
    // border: 2px solid green
    flex: 0 1 33.3333%

.cont
    display: flex
    border-radius: size
    padding: 0.5rem 
    // padding: 1.2vh 
    background-color: #fff
    border-radius: $size
    margin-top: 2vh
    transition: box-shadow 0.15s
    box-shadow: 0.2 0.2 1rem #8f8b8b71
    &.error
        // background-color: #fce5e5
        box-shadow: 0 0 2rem #fd0000d2
    // border: 2px solid orange
.btn
    position: relative
    z-index: 2
    width: $size
    height: $size
    border-radius: 50%
    background-color: #fff
    color: #6427aa
    transition-duration: 0.5s
    font-size: 1.8rem
    :hover 
        font-size: 1.7rem
    &.rotation
        transform: rotate(-360deg)
        color: #88279bee
    text-align: center
    line-height: $size + 0.2rem
    &.error
        background-color: #ffbdbd
        // text-shadow: 0rem -0.05rem 0rem #af0f0fd2
    // border: 1px solid red
    
.input_cl
    border: none
    outline: none
    background: none
    text-decoration: none
    font-size: 1.1rem
    font-style: italic
    width: 0 //change
    transition-duration: 0.3s
    line-height: $size

.clear
    display: none
    margin: 0.4rem 0 0 0.6rem
    transition-duration: 0.2s
    font-size: 1.2rem
    width: 1rem
    height: 1rem
    transform: rotate(7deg)
    color: #6427aa
    :hover 
        font-size: 1.3rem
        transform: rotate(15deg)
    :active
        font-size: 1.2rem
        color: #385ab9
    // border: 1px solid #000
    &.active
        display: inline-block

// Main containers -------------------------------------
.text_container
    .input_area
        color: #585858
        &.active
            width: 20rem
            padding-left: 1rem
    
.date_container
    position: relative
    z-index: 1
    .date_input_area
        cursor: pointer
        color: #585858
        // :-webkit-inner-spin-button
        //     -webkit-appearance: none
        //     display: none
        // :-webkit-clear-button
        //     -webkit-appearance: none
        //     display: none
        &.active
            width: 10rem
            padding-left: 2vh
            margin-right: 3.5rem
            
.confirm_btn
    position: absolute
    z-index: 0
    right: 0.5rem
    transform: translateX(0.5rem)
    margin: 0.5rem 1.5rem 0 0
    width: 1rem
    height: 1rem
    transition: transform 0.2s
    font-size: 1rem
    color: #6427aa
    :hover 
        font-size: 1.6rem
        text-shadow: 1px 1px 5px #cdb5e980
    :active
        font-size: 1.5rem
        color: #385ab9
    &.active
        transform: translateX(-2.5rem)
        font-size: 1.5rem

.reload_container
    flex-direction: column
    align-items: center
    position: relative
    z-index: 1

.reload_btn
    position: relative
    z-index: 2

.reset_text
    position: absolute
    top: 3.2rem
    color: #6427aa6c
    font-size: 0.2rem
    margin: 0.5rem -1rem
    transition-duration: 0.2s
    // border: 2px solid brown
    transform: translateY(-2rem)
    &.active
        cursor: auto
        transform: translateY(0)
        font-size: 0.7rem

.ok_btn
    z-index: 0
    height: 0
    font-size: 1rem
    line-height: 2.1rem
    transition-duration: 0.2s
    :hover 
        font-size: 1.8rem
    &.active
        height: $size
        font-size: 2rem
        margin-bottom: 2rem
    :active
        font-size: 1.7rem
        color: #385ab9
    cursor: auto
    i
        cursor: pointer
    // border: 2px solid brown


.confetti_container
    display: none
    &.active
        display: block

.confetti_container img
    position: absolute
    top: 0
    left: 0
    width: 100%
    opacity: 0
    text-shadow: 0 0 2rem #fd0000d2
    -webkit-filter: drop-shadow(0.5px 0.5px 3px #5f5f5f5d)
    filter: drop-shadow(0.5px 0.5px 3px #5f5f5f5d)
    
    // Huge top confetti
.confetti_container img:nth-child(1)
    animation: confetti_1 5s linear infinite 0.2s
.confetti_container img:nth-child(2)
    left: -40vw
    animation: confetti_1 6s linear infinite 1.2s
.confetti_container img:nth-child(3)
    left: 40vw
    animation: confetti_1 5s linear infinite 3.2s

    // Little lateral confetti
.confetti_container img:nth-child(4)
    left: -50%
    top: -20%
    -webkit-filter: drop-shadow(3px 2px 2px #5f5f5f5d)
    filter: drop-shadow(3px 2px 2px #5f5f5f5d)
    animation: confetti_2 0.8s linear
.confetti_container img:nth-child(5)
    left: 50%
    top: -20%
    animation: confetti_3 0.7s linear 0.3s

    // Party flags 
.confetti_container img:nth-child(6)
    opacity: 1
    left: -50vh
    top: -25vh
    animation: flag_1 0.6s forwards
.confetti_container img:nth-child(7)
    z-index: -1
    opacity: 1
    left: 15vh
    top: -50vh
    animation: flag_2 1s forwards


@keyframes confetti_1
    0%
        transform: scale(0.7) translateY(-100%)
        opacity: 0
    10%
        opacity: 1
    90%
        opacity: 1
    100%
        opacity: 0
        transform: scale(1.4) translateY(70%)

@keyframes confetti_2
    0%
        transform: scale(0.4)
        opacity: 0
    5%
        opacity: 1
    80%
        opacity: 1
    100%
        opacity: 0
        transform: scale(1.4) translateX(20%) translateY(25%) rotate(30deg) 

@keyframes confetti_3
    0%
        transform: scale(0.2)
        opacity: 0
    5%
        opacity: 1
    80%
        opacity: 1
    100%
        opacity: 0
        transform: scale(1.4) translateX(-25%) translateY(30%) rotate(-20deg)

@keyframes flag_1
    0%
        transform: scale(0.3)
    100%
        transform: translateY(10vh) translateX(10vh) rotate(-10deg) scale(0.7) 

@keyframes flag_2
    0%
        transform: scale(0.3)
    100%
        transform: translateY(25vh) translateX(45vh) rotate(25deg) scale(0.6) 



@media (max-height: 260px) 
    .counter_container p
        font-size: 90px
        margin: 0 3vw
    .counter_container span
        display: none
    .menu_container
        display: none
    .date_number
        display: none
    h1
        display: none
    .second-pair :nth-child(2)
        width: 120px


@media (max-width: 1200px)
    .confetti_container img:nth-child(6)
        left: -35vh
        top: -16vh
    .confetti_container img:nth-child(7)
        left: 10vh
        top: -25vh

@media (max-width: 809px)
    .counter_container
        flex-direction: column
    .confetti_container img:nth-child(6)
        left: -27vh
        top: -12vh
    .confetti_container img:nth-child(7)
        left: -10vh
        top: -27vh

@media (max-width: 425px)
    .confetti_container img:nth-child(6)
        left: -20vh
        top: -11vh
    .confetti_container img:nth-child(7)
        left: -30vh
        top: -25vh

@media (max-width: 374px)
    .menu_container
        display: none