@import "./_stylereset"

$hi : 2.5rem

body
    background: url('../img/bg.jpg') center center / cover no-repeat 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    min-height: 70vh
    color: white
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
    h1
        text-transform: capitalize
        font-size: 12vh
        margin: -15vh 0  12vh 1vh
        color: #ffffffe3
        text-shadow: 0.1rem 0.1rem 5rem #230674a2

.counter_container
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    p
        font-size: 22vh
        margin: 0 8vh
        line-height: 1
        text-shadow: 0.2rem 0.2rem 3rem #230674
    span
        font-size: 1.3rem
        color: #c3c6e6
    div
        text-align: center

.input_container
    border-radius: $hi
    position: absolute
    top: 3vh
    right: 5vh
    padding: 1vh //match left padding 
    background-color: #fff
    .nameOfHoliday
        display: flex
        float: left
        border: none
        outline: none
        background: none
        text-decoration: none
        font-size: 1.1rem
        font-style: italic
        width: 0 //match
        min-width: 0 //match
        transition: 0.3s
        line-height: $hi
    .active
        width: 30vh
        min-width: 10rem 
        padding-left: 2vh
    .input_btn
        display: flex
        float: right
        width: $hi
        height: $hi
        align-items: center
        justify-content: center
        border-radius: 50%
        background-color: #ffffff
        font-size: 1.6rem
        color: #6427aa
    
// .input_container .nameOfHoliday .active
//             width: 30vh //match
//             min-width: 10rem //match